/*.media-modal * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}*/
.media-modal{
	width: 90%;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
.media-modal .modal-footer{
	bottom: 0px !important;
    position: absolute;
    width: 100%;
}
.media-modal .media-frame-menu, .media-modal .media-sidebar {
    top: 0;
    bottom: 0;
    right: 0;
    background: #f3f3f3;
}
.media-modal .media-toolbar, .media-modal .attachments, .media-modal .media-sidebar {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.media-modal .media-modal-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    min-height: 300px;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.7);
    box-shadow: 0 5px 15px rgba(0,0,0,.7);
    background: #fcfcfc;
    -webkit-font-smoothing: subpixel-antialiased;
	padding: 0;
}
.media-modal .media-frame {
    overflow: hidden;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
	padding: 0;
}
.media-modal .media-frame-menu{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    z-index: 150;
	border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ccc;
}
.media-frame-content, .media-frame-router, .media-frame-title, .media-frame-toolbar {
    right: 0;
    position: absolute;
    left: 200px;
}
.media-frame-title {
    top: 0;
    height: 50px;
    z-index: 200;
}
.media-modal .media-frame-router {
    top: 0;
    height: 44px;
    z-index: 200;
	background: none;
	box-shadow: none;
}
.media-modal .media-frame-content{
	top: 44px;
    bottom: 65px;
    height: auto;
    width: auto;
    margin: 0;
    overflow: auto;
    background: #fff;
}
.media-frame .media-frame-browser {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.media-frame-browser .media-toolbar {
	position: absolute;
    top: 0;
    left: 0;
    right: 267px;
    z-index: 100;
    height: 50px;
    padding: 0 16px;
    border: 0 solid #dfdfdf;
    overflow: hidden;
}
.media-modal .media-menu, .media-modal .media-sidebar {
    top: 0;
    bottom: 0;
    right: 0;
    background: #f3f3f3;
}
.media-frame .media-sidebar {
    position: absolute;
    width: 267px;
    padding: 15px;
    z-index: 75;
    border-left: 1px solid #ddd;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.media-sidebar .media-form h4 {
    font-size: 14px;
}
.media-frame-browser .media-list {
    position: absolute;
    top: 50px;
    left: 0;
    right: 267px;
    bottom: 0;
    overflow-x: hidden;
	overflow-y: auto;
    outline: 0;  
}

/*.media-frame-browser form select,.media-frame-browser form input{
    width: auto;
    padding: 6px 12px;
    font-size: 14px;
    margin-top: 11px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}*/

.media-frame-browser .media-item {
    display: block;
    width: 16.66%;
    box-sizing: border-box;
    float: left;
    padding: 5px;
    cursor: pointer;
}
.media-frame-browser .media-item .item {
    position: relative;
}
.media-frame-browser .media-item .item img {
    width: 100%;
}
.media-frame-browser .media-item .media-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    padding: 3px 6px;
    background: rgba(0,0,0,0.4);
    color: #FFFFFF;
    font-size: 12px;
    line-height: 18px;
}
.media-frame-browser .media-item .selected-check {
   padding: 3px 6px;
    background: #1e8cbe;
    position: absolute;
    top: -4px;
    right: -4px;
    color: #fff;
    border: 1px solid #1e8cbe;
    display: none;
}
.media-frame-browser .media-item.ui-selected {
    -webkit-box-shadow: inset 0 0 0 1px #fff,inset 0 0 0 5px #1e8cbe;
    box-shadow: inset 0 0 0 1px #fff,inset 0 0 0 5px #1e8cbe;
}
.media-frame-browser .media-item.ui-selected .selected-check{
    display: block;
}
.media-frame-browser .media .media-left{
	display: inherit;
}
.media-frame-browser .media-form label {
    padding-top: 5px;
    font-size: 11px;
    font-weight: normal;
    color: #777777;
	text-align: left;
}
.media-frame-browser .media-detail {
    font-size: 12px;
}
.media-frame-browser .media-detail h3 {
    margin-top: 0;
    font-size: 14px;
}
.media-frame-browser .media-detail .media {
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
}
.media-frame-browser .media-form {
    padding-top: 15px;
    font-size: 11px;
    padding-bottom: 15px;
}
.media-frame-browser .media-pagination{
	bottom: 0px;
    position: absolute;
    left: 0;
    right: 267px;
    text-align: center;
}
.media-frame .media-frame-toolbar{
	bottom: 0;
    height: 60px;
    z-index: 100;
}

@media (max-width: 767px){
	.media-frame-browser .media-item {
		width: 25%;
	}
}
@media (max-width: 979px){
	.media-frame-browser .media-item {
		width: 33.333%;
	}
}
@media (max-width: 1200px){
	.media-frame-browser .media-item {
		width: 25%;
	}
}
